@use './variables' as *;

@mixin orange-border{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        bottom: 0;
        height: 2px;
        width: 10%;
        background-color: $orange;
    }
};

@mixin background-reset{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}