@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

a{
    color: black;
    text-decoration: none;
}
body{
    background-color: #F9F9F9;
}
html{
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
}
button{
    border: none;
    background-color: transparent;
}
