@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

a{
    color: black;
}
body{
    background-color: #F9F9F9;
}
html{
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
}