@use './partials/variables' as *;
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


a{
    color: black;
    text-decoration: none;
}
body{
    background-color: #F9F9F9;
}

html{
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        &:hover{
            cursor: default;
        }
}
button{
    border: none;
    background-color: transparent;
}

h1,h2,h3,h4,h5,h6{
    font-family: $custom-font;
}


header{
    max-width: 2000px;
    margin: 0 auto;
}